# This is a basic workflow to help you get started with Actions

name: Docker Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:

  CI:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: docker login
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
        GITHUB_RUN_ID: ${{ github.run_id }} 

      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - name: docker build
      run: |
        docker build -t nicksolante21/new-repo:${BRANCH_NAME}-${{ env.GITHUB_RUN_ID }} --target=base .
    - name: docker push
      run: |
        docker push nicksolante21/new-repo:${BRANCH_NAME}-${{ env.GITHUB_RUN_ID }}
    - name: docker run 
      run: |
       docker run --publish 8000:9376 --detach --name bb nicksolante21/new-repo
